<div #contenedor class="preloader">
    <div #a class="titulo-entrada">
        <div  class="seccion_1">
            <p #nombre_text class="nombre-p">MAIKOL</p>
        </div>
        <div class="seccion_2">
            <p #apellido_text class="apellido_p">GARRIDO</p>
            <div class="texto_pequeno">
                <div class="div_texto"><p #profesion_text class="profesion_p">DESARROLLADOR WED FULL STACK</p></div>
                <div class="div_texto"><p #portafolio_text class="portafolio_p">PORTAFOLIO</p></div>
            </div>
        </div>
    </div>
    <div class="imagenes-intro">
        <img #imagen1 class="image-preload" src="https://i.imgur.com/mMKogfm.png" alt="">
        <img #imagen2 class="image-preload" src="https://i.imgur.com/bjTtoEK.png" alt="">
        <img #imagen3 class="image-preload" src="https://i.imgur.com/qwcViBn.png" alt="">
        <img #imagen4 class="image-preload" src="https://i.imgur.com/Ifzacz3.png" alt="">
    </div>
</div>