.nav{
    background-color: rgba(24, 24, 24, 0.74);
    backdrop-filter: blur(10px);
    border-right: 2px solid rgba(255, 255, 255, 0.145);
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.ruta_activa{
    font-weight: bold;
    color: rgb(0, 216, 209) !important; 
}



.logo-idiomas-div{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.logo{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.logo-p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.idiomas{
    margin-top: 50px;
}

.idiomas li{
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.472);
}





.lista-nav{
    height: 100%;
}


.lista-1-nav-iconos{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lista-1-nav-iconos a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
   
}

.item_list_1{
    transform: rotate(-90deg);
    padding: 15px 0;
    margin: 20px 0;
}

.lista-nav a {
    color: white;
}

.icono_list_1{
    color: rgba(255, 255, 255, 0.472);
    font-size: 22px;
}

.icono_list_1:hover{
    color: rgba(240, 248, 255, 0.685);
}















.lista-2-nav-iconos{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 40px;
}

.item_list_2{
    padding: 10px 0;
}

.item_list_2 a{
    color: rgba(255, 255, 255, 0.472);
    font-size: 22px;
}


.icon_git:hover{
    color: white;
}

.icon_linkeding:hover{
    color: rgb(39, 126, 255);
}

.icon_email:hover{
    color: rgb(0, 255, 187);
}

