
<nav class="nav">
    <div class="logo-idiomas-div">
        <div class="logo">
            <a href="/"  class="logo-p"><p>MG</p></a>
        </div>
        


        <!-- <ul class="idiomas">
            <li>EN</li>
            <li>EN</li>
        </ul> -->
    </div>
    <ul class="lista-1-nav-iconos"> 
        <li class="item_list_1"><a routerLink="/home" [ngClass]="{'ruta_activa': rutaActiva === '/' || rutaActiva === '/home'}">Home</a></li>
        <li class="item_list_1"><a routerLink="/about"  [ngClass]="{'ruta_activa': rutaActiva === '/about'}">About</a></li>
        <li class="item_list_1"><a routerLink="/proyectos" [ngClass]="{'ruta_activa': rutaActiva === '/proyectos'}">projects</a></li>
    </ul>
    <ul class="lista-2-nav-iconos"> 
        <li class="item_list_2"><a href="https://github.com/Maikol2503" target="_blank" ><ion-icon name="logo-github" class="icon_git"></ion-icon></a></li>
        <li class="item_list_2"><a href="https://www.linkedin.com/in/maikol-garrido-385933238/" target="_blank" ><ion-icon name="logo-linkedin" class="icon_linkeding"></ion-icon></a></li>
        <li class="item_list_2"><a href="" target="_blank"><ion-icon name="mail" class="icon_email"></ion-icon></a></li>
    </ul>
</nav>
<!-- <router-outlet></router-outlet> -->
